body {
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.twitter-tweet {
    color: red;
    font-size: 10px;
}

.twitter-tweet a:link {
    color: yellow;

}

.twitter-tweet p {

    font-size: 12px;
    left: 0px;
}