<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Ola Steen</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="static/script.js" type="text/javascript"></script>
 </head>
 <body>
   <form>
  First name:<br>
  <input type="text" name="firstname" id ="firstName">
  <br>
  Last name:<br>
  <input type="text" name="lastname" id="lastName">
  <br><br>
  <input type="submit" value="Submit">
</form>
<div class ="text" style="background-color: yellow">Trump</div>
<div class ="text" style="background-color: blue">Puppies</div>

 </body>
</html>
