body {
    margin:0;
    padding:0;
}

h1 {
  font-family: Gotham-Bold;
  margin: 10px;
  color: white;
}

h2 {
  font-family: Gotham-Bold;
}

h3{
    font-family: Gotham-Bold;
    margin: 10px;
}

ol{
    font-family: Gotham-Light;
    font-size: small;
}


p {
  margin: 10px;
  font-size: 12px;
  font-family: Gotham-Light;
}

/* FONTS */
@font-face {
  font-family: Gotham-Light;
  src: url(fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: Gotham-Black;
  src: url(fonts/Gotham-Black.otf);
}


/* MENU */
#menu-list{
  padding-left: 0px;
  position: static;
  margin: 15px;
  max-width: 20vw;
}

#menu {
    width: 20vw;
    height: 100vh;
    background-color: #c1d7e2;
    position: absolute;
    right: 0px;
    font-family: Gotham-Light;
}

#subjectInfo{
  padding-top: 20px;
}

#currentTime {
  font-size: 12px;
  font-family: Gotham-Light;
  margin: 10px;
}

#nrOfTweets {
  font-size: 20 px;
  font-family: Gotham-Bold;
  margin: 10px;
}

/*trending subjects*/
.bubbles {
  font-family: Gotham-black;
  padding-bottom: 8px;
  padding-right: 10px;
  display: inline-block;
}

.bubbles:hover {
  color: #edeef9;
}


/* MAP */
#map {
    position: absolute;
    top:0;
    bottom:0;
    height: 100vh;
    width:80vw;
    left: 0px;
    display: block;
}


/*INFO BOX*/
/* The background when opening to info box */
.dialog-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); Fallback color */
    /*background-color: rgba(1,1,1,0.4);  Black w/ opacity */
}

/* Info box Content */
.dialog-context {
    width: 300px;
    height: 350px;
    background: #fff;
    padding: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -175px;
}

/* Close button for info box*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*INFO BUTTON*/
#infoButton {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8vh;
    height: 8vh;
    background-color: #edeef9;
    -moz-border-radius: 5vh;
    -webkit-border-radius: 5vh;
    border-radius: 5vh;
    border: 2px solid gray;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: gray;
}

#infoButton:hover {
    background-color: #f7f7ff;
}

#infoButton:focus {
  outline: 0;
}


/*SLIDEBAR */
#sliderbar {
  position: absolute;
  z-index: 1;
  width: 80%;
}

#sliderbar h2 {
  float: right;
  margin-right: 4%;
  margin-top: 93vh;
}

#slider {
  width: 90%;
  margin-left: 5%;
}


/* SPEECH BUBBLE*/
p.speech {
  font-size: x-large;
  position: relative;
  width: 80%;
  margin: 15px;
  height: 80px;
  text-align: center;
  line-height: 80px; /* hänger ihop med height för p.speech. för att centrera text */
  background-color: #fff;
  border: 2px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* dark part*/
p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 80px; /* hänger ihop med height för p.speech */
  border: 11px solid;
  border-color: #666 transparent transparent #666;
}

/* white part*/
p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 40px;
  top: 78px; /* hänger ihop med height för p.speech */
  border: 10px solid;
  border-color: #fff transparent transparent #fff;
}


/* PIE CHART */
#piechart {
  width: 50%;
  margin: 0 auto;
}
