body {
    margin:0;
    padding:0;
}

h1 {
  font-family: Gotham-Bold;
  margin: 10px;
  color: white;
}
h3{
    font-family: Gotham-Bold;
}

ol{
    font-family: Gotham-Light;
    font-size: small;
}


p{
  margin: 10px;
  font-size: 12px;
  font-family: Gotham-Light;
}

#menu-list{
  padding-left: 0px;
  position: absolute;
  margin: 15px;
  max-width: 20vw;
}

#menu {
    width: 20vw;
    height: 100vh;
    background-color: #c1d7e2;
    position: absolute;
    right: 0px;
    font-family: Gotham-Light;
    box-shadow: -1px 0px 5px;
}

#currentTime {
  font-size: 12px;
  font-family: Gotham-Light;
  margin: 10px;
}
#nrOfTweets {
  font-size: 12px;
  font-family: Gotham-Light;
}

/*.bubbles {
  margin: 10px;*/
  /*text-align: center;*/
  /*cursor: pointer;
  padding: 10px;
  background-color: #edeef9;
  display: inline-block;
  font-size: 12px;
  list-style: none;
}*/

.bubbles {
  font-family: Gotham-black;
  padding: 3px;
  display: inline-block;

}

.bubbles:hover {
  color: #edeef9;

}

@font-face {
  font-family: Gotham-Light;
  src: url(fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: Gotham-Black;
  src: url(fonts/Gotham-Black.otf);
}

#map {
    position: absolute;
    top:0;
    bottom:0;
    height: 100vh;
    width:80vw;
    left: 0px;
    display: block;
}

/*.floatable
{
    margin: 7px;
    float: left;
    display:inline-block;
    text-align:center;
    text-shadow:1px 1px 0px rgba(7, 82, 110, 0.41);
    cursor:pointer;

    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: #00aced;
    background-image: -webkit-linear-gradient(top, rgba(0, 172, 237, 0.75), rgba(32, 197, 255, 0.65));
    box-shadow: inset 0px 1px 0px #00a2e4, 0px 3px 0px 0px #07526e, 0px 5px 3px #999;
    border-radius: 15px;

    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}*/



@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

/* för inforutan*/
/*.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}

.dialog-box {
    width: 300px;
    height: 350px;
    background: #fff;
    padding: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -175px;
}

#dialog-trigger{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10vh;
    height: 10vh;
    background: #edeef9;
    -moz-border-radius: 5vh;
    -webkit-border-radius: 5vh;
    border-radius: 5vh;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    margin: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: gray;

}

#dialog-trigger:hover {
    background-color: #f7f7ff;
}*/
/* inforuta slut*/


/*INFORUTA:*/

/* The background when opening to info box */
.dialog-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); Fallback color */
    /*background-color: rgba(1,1,1,0.4);  Black w/ opacity */
}

/* Info box Content */
.dialog-context {
    width: 300px;
    height: 350px;
    background: #fff;
    padding: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -175px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Info button*/
#infoButton {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8vh;
    height: 8vh;
    background-color: #edeef9;
    -moz-border-radius: 5vh;
    -webkit-border-radius: 5vh;
    border-radius: 5vh;
    border: 2px solid gray;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: gray;
}

#infoButton:hover {
    background-color: #f7f7ff;
}

#infoButton:focus {
  outline: 0;
}

/*BAR CHART*/
#barChart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#selectedSubject {
  width: 80%;
  height: 90px;
  margin: auto;
  padding: 5px;
  font-family: Gotham-black;
  font-size: 20px;
  background-image: url('images/bubble.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
