<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> <!--Twitter css-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <script src="static/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="static/jqfloat.js"></script>
    <script src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>
    <link href="static/mapStyle.css" rel="stylesheet"/>

</head>
<body>

    <div id="blurmap">
        <div id="map"></div>
    </div>
    <div id="menu"> <h1>Twiz</h1>
      <p></p>
    </div>

    <div id="bubble-container">
        <nobr title="New" class="testClass">
            <h1 id="starttext">Här är en text till startsidan</h1>
            <h3> Här är en mindre text till startsidan</h3>
        </nobr>
    </div>


    <script src="static/map.js"></script>
    <script src="static/bubbles.js"></script>
</body>
</html>
