<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> <!--Twitter css-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <script src="//d3js.org/d3.v3.min.js"></script> <!--d3js-->
    <script src="static/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- for pie chart-->
    <script src="static/jqfloat.js"></script>
    <script src="static/script.js"></script>
    <script src="static/piescript.js"></script> <!--script for pie chart-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>
    <link href="static/mapStyle.css" rel="stylesheet"/>
    <link href="static/loader.css" rel="stylesheet"/>

</head>
<body>
    <!--<div class="wrapper">--><!-- all elements goes in wrapper-->
        <div id="blurmap">
            <div id="loader" style="display: none;">
                <!--<p> Please Wait</p>-->
            </div>
            <div id="map"></div>

          <div id="menu"> <h1 onClick="window.location.reload()">Twiz</h1>
              <p>Se tweets live med Twiz. Välj ett trendande ämne nedan för att börja streama tweets. Valt ämne:</p>
              <!--<div id="selectedSubject"></div>-->

			<p id="subText" class="speech"></p>
        		
             <div id="subjectInfo">

                <span id="currentTime"></span><span id="nrOfTweets"></span>
                <!--<div id="barChart"></div>-->
                <div id="piechart"></div>

              </div>

              <p>Trendande ämnen just nu:</p>
              <div id="menu-list"></div>
            <!--<div class='session' id='sliderbar'>
                <h2>Minute: <label id='active-hour'>12PM</label></h2>
                <input id='slider' class='row' type='range' min='0' max='59' step='1' value='29' />
            </div>-->


              <!-- the trigger element for the dialog box-->
              <button id="infoButton">?</button>


              <div class='session' id='sliderbar'>
                  <h2>Time: <label id='active-minute'>Live</label></h2>
                  <input id='slider' class='row' type='range' min='1' max='60' step='1' value='60' />
              </div>


          </div>
        </div>
    <!--</div>--><!--wrapper-->


    <!-- the dialog box -->
    <div id="dialog-box" class="dialog-box">
        <!--<h3>Dialog Box!</h3> <a href="#" id="close" class="close">Close</a>-->
        <!--<p> Your content goes here</p>-->

      <!--Info to the dialog box -->
      <div class="dialog-context">
        <span class="close">&times;</span>
        <h3>Twiz</h3>
        <p> Se de senaste trendande ämnena från Twitter. Tweetsen visas live på kartan allteftersom de skapas.</p>

        <p>1. Välj ett ämne i panelen till höger.<br>
        2. Tweets från det valda ämnet dyker upp på kartan, live.<br>
        3. Färgerna representerar attityd. Grön = positiv, röd = negativ och gul = neutral.<br>
        4. Klicka på en markör för att visa tweetet.<br>
        5. Byt i ämne i panelen till höger.</p>
      </div>
  </div>

    <div class="modal"></div>


    <script src="static/timeline.js"></script>
    <script src="static/map.js"></script>
    <script src="static/bubbles.js"></script>
</body>
</html>
